body {
  background-color: #333;
}

h1 {
  color: #fff;
  font-size: 25px;
  font-weight: 100;
  font-family: 'Inconsolata';
}

p {
  margin: 40px 0;
  color: white;
  font-family: 'Inconsolata';
}

.score {
  font-size: 50px;
  margin-bottom: 10px;
  color: #4ECDC4;
}

a {
  color: #4ECDC4
}

.container {
  height: 300px;
  width: 300px;
  margin: 0 auto;
}

.square {
  width: 25px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  height: 25px;
  margin: 0 5px 0 0;
  padding: 0 0 0 0;
  display: inline-block;
  background-color: #ddd;
}

.snake {
  background-color: #556270;
}

.fly {
  background-color: #C44D58;
}

.snake-board {
  color: white;
  font-family: 'Inconsolata';
}

