body {
	background-color: #d3d3d3;
}

#display {
	margin-top: 80px;
    font-size: 30px;	
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background-color: #2E0F1F;
    width: 100px;
    padding-top: 0px;     
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;    
    border-width: 10px;
    border-style: solid;
    border-color: #993366;
}

.keypad {
    font-size: 20px;	
    margin-left: auto;
    margin-right: auto;
    background-color: #993366;
    width: 120px;     
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

 