body {
	background-color: #111;
}

p {
	font-family: 'Inconsolata';
}

header{
    margin-top: 50px;
	color: #fff;
	margin-left: 30px;
}

header a {
	color: #D29E36;
}

#display {
	margin-top: 120px;
    font-size: 145px;	
    color: #f1f1f1;
    width: 100%;
    padding-top: 0px;     
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;   
}

 
 